.card {
  border-radius: 10px;
}

.card-title {
  color: #333;
  font-weight: 600;
}

.btn-success {
  background-color: #28a745;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.btn-success:hover {
  background-color: #218838;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
